html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    background-image: linear-gradient(rgb(0, 0, 185), skyblue);
}

main {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;

}